.hello{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #124694;
}
.logotitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.subtitle{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #185DC5;

}
.website-logo{

    width:80px;
}
.selecttitles{
    color : #185DC5;
    font-size: 20px;
    font-weight: 600;
}
.selectt{
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background:#A5C7FB;
    min-width: 260px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    color: #1E74F6;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    overflow: hidden;
    cursor: pointer;
}
.allresponseframework{
    display: flex;

    justify-content: center;
    flex-direction: column;
}
.answersopenframework{
    display: flex;
}
ul {
    list-style: none;
  }
li {
    font-size: 18px;
    margin-bottom: 10px;
    background: url('../assets/right.svg')  left 3px no-repeat;
    background-size: contain;
    padding-left: 30px;
    background-position: 1%;
  }