.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   padding-top: 50px;
    padding-bottom: 100px;
    
}
.faq {
    width: 90vw;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #E1E1E1;
  }
.faq-heading {
  font-weight: 600;
  font-size: 18px;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color: #015540;
}
.textinfoicon{
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.divforicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
   
}
.textinfoicon p {
    margin: 0;
    margin-right: 8px;
     /* İstediğiniz boşluk miktarını ayarlayabilirsiniz */
  }
  /* .icons{
    display: flex;
    flex-direction: row;
  } */

.title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #124694;
}
.survey-details{
    height: auto;
    padding-left: 20px;
}
.subdesc{
    font-size: 14px;
    color: #015540;
}
.faq-text {   
  font-weight: 400;
  color: #028D6B;
  width:95%;
  padding-left:20px;
  margin-bottom:30px;
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 56px;
  padding-top:1px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E1E1E1;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

 .faq input[type="checkbox"]:checked + label > .faq-arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
 .faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255,255,255,255) !important;
  color: #4f7351;
  height: 300px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

 .faq input[type='checkbox']:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

::-webkit-scrollbar {
  display: none;
}
